{% extends "base.html" %}
{% block content %}
    {% if is_authenticated %}
    <a href="/author_add/" class="btn btn-success">Add author</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Authors</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>
                    {% if is_authenticated %}
                        <a href="/author/{{ author.id }}">
                    {% endif %}
                    {{ author.name }}</a></td>
                <td>
                    {% for book in author.books %}
                        {{ book.title }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
